@use "./utils/reset";
@use "./modules/body";
@use "./modules/header";
@use "./modules/hero";
@use "./modules/trendy";
@use "./modules/top";
@use "./modules/review";
@use "./modules/best";
@use "./modules/footer";
