@use "../bootstrap" as b;

.logo {
    white-space: nowrap;
    display: flex;
    align-items: center;
    gap: clamp(4px, 1vw, 14px);
    z-index: 9;
}

.logo__image {
    width: 2rem;
    height: 2rem;
    aspect-ratio: 1;
    vertical-align: middle;
}

.logo__text {
    font-size: 1.17rem;
    display: block;
    color: b.$lightTextColor;
    vertical-align: middle;
    font-weight: 900;
    opacity: 0.75;
}
