@use "../bootstrap" as b;
@use "../ui/buttons";

.card {
    margin-top: 21.88%;
    padding-bottom: 3.5rem;
    @include b.flex(flex-start, flex-start, column);
    gap: 0.85rem;
    position: relative;
    max-width: 21.33rem;
    aspect-ratio: 128/161;

    @media (max-width: b.$mediaMobile) {
        max-width: 12rem;
        gap: 0.65rem;
        padding-bottom: 2.5rem;
    }

    &::before {
        content: "";
        @include b.position(absolute, -1, bottom, left, 0, 0);
        width: 100%;
        height: 100%;
        backdrop-filter: blur(5px);
        border-radius: 3.4rem;
        background-color: rgba(255, 255, 255, 0.15);
        filter: drop-shadow(0px 9px 18px rgba(0, 0, 0, 0.25));
        background: url("../../img/cards_bg.png") center / 100% 100% no-repeat;
        pointer-events: none;
        overflow: hidden;

        @media (max-width: b.$mediaMobile) {
            border-radius: 2rem;
        }
    }
}

.card__img-wrapper {
    @include b.position(relative, -1, top, left, 0, 50%);
    translate: -50% 0;
    max-width: 19.1rem;
    aspect-ratio: 1;
    margin-top: -21.88%;
    margin-bottom: 0.5rem;

    @media (max-width: b.$mediaMobile) {
        max-width: 9rem;
        margin-bottom: 0;
    }
}

.card__tag {
    padding: 0 3rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;

    @media (max-width: b.$mediaMobile) {
        padding: 0 1.2rem;
    }
}

.card__tag-link {
    font-size: 0.95rem;
    font-weight: 400;
    color: b.$lightTextColor;
    position: relative;
    z-index: 1;

    @media (max-width: b.$mediaMobile) {
        font-size: 0.7rem;
    }
}

.card__title {
    font-size: 1.58rem;
    font-weight: 400;
    padding: 0 3rem;
    line-height: 1.2;
    margin-bottom: 0.25rem;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
    z-index: 1;

    @media (max-width: b.$mediaMobile) {
        font-size: 1.1rem;
        padding: 0 1.2rem;
    }
}

.card__tag-title {
    font-size: inherit;
}

.card__button {
    font-size: 1.15rem;
    font-weight: 400;
    margin: 0 3rem;
    white-space: nowrap;

    @media (max-width: b.$mediaMobile) {
        font-size: 0.8rem;
        margin: 0 1.2rem;
    }
}

.card__descr {
    position: relative;
    font-size: calc(1rem * (24px / b.$basicFontSize));
    font-weight: 400;
    z-index: 1;
    padding: 0 3rem;

    @media (max-width: b.$mediaMobile) {
        font-size: calc(1rem * (18px / b.$basicFontSize));
        padding: 0 1.2rem;
    }
}

.card__descr--white,
.card__title--white {
    color: b.$lightTextColor;
}

.card__price {
    position: relative;
    font-size: calc(1rem * (38px / b.$basicFontSize));
    color: b.$lightTextColor;
    font-weight: 600;
    z-index: 1;

    @media (max-width: b.$mediaMobile) {
        font-size: calc(1rem * (24px / b.$basicFontSize));
    }
}

.card__buttons {
    @include b.flex(flex-start, center);
    gap: calc(1rem * (32px / b.$basicFontSize));
}

.card__buying {
    padding: 0 3rem;
    @include b.flex(space-between, center);
    width: 100%;

    @media (max-width: b.$mediaMobile) {
        padding: 0 1.2rem;
    }
}

.card__number {
    @include b.flex(flex-start, center);
    gap: clamp(0.5rem, 2.5vw, calc(1rem * (42px / b.$basicFontSize)));
    white-space: nowrap;

    @media (max-width: b.$mediaMobile) {
        gap: 1rem;
    }
}

.card__number-info {
    font-size: calc(1rem * (20px / b.$basicFontSize));
}

.card__number-next {
    font-size: calc(1rem * (15px / b.$basicFontSize));
}
