@use '../bootstrap' as b;
@use '../ui/buttons';

.card {
    margin-top: 21.88%;
    padding-bottom: 3.5rem;
    @include b.flex(flex-start, flex-start, column);
    gap: 0.85rem;
    position: relative;
    max-width: 21.33rem;
    aspect-ratio: 128/161;
    transform: translateZ(0);

    @media (max-width: b.$mediaMobile) {
        max-width: 12rem;
        gap: 0.65rem;
        padding-bottom: 2.5rem;
    }

    &::before {
        content: '';
        @include b.position(absolute, -1, bottom, left, 0, 0);
        width: 100%;
        height: 100%;
        backdrop-filter: blur(5px);
        border-radius: 3.4rem;
        background-color: rgba(255, 255, 255, 0.15);
        filter: drop-shadow(0px 9px 18px rgba(0, 0, 0, 0.25));
        background: url('../../images/cards_bg.png') center / 100% 100% no-repeat;
        pointer-events: none;
        overflow: hidden;

        @media (max-width: b.$mediaMobile) {
            border-radius: 2rem;
        }
    }
}

.card__img-wrapper {
    @include b.position(relative, -1, top, left, 0, 50%);
    translate: -50% 0;
    max-width: 19.1rem;
    aspect-ratio: 1;
    margin-top: -21.88%;
    margin-bottom: 0.5rem;

    @media (max-width: b.$mediaMobile) {
        max-width: 9rem;
        margin-bottom: 0;
    }
}

.card__tag {
    padding: 0 3rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;

    @media (max-width: b.$mediaMobile) {
        padding: 0 1.2rem;
    }
}

.card__tag-link {
    font-size: 0.95rem;
    font-weight: 400;
    color: b.$lightTextColor;
    position: relative;
    z-index: 1;

    @media (max-width: b.$mediaMobile) {
        font-size: 0.7rem;
    }
}

.card__title {
    font-size: 1.58rem;
    font-weight: 400;
    padding: 0 3rem;
    line-height: 1.2;
    margin-bottom: 0.25rem;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
    z-index: 1;

    @media (max-width: b.$mediaMobile) {
        font-size: 1.1rem;
        padding: 0 1.2rem;
    }
}

.card__tag-title {
    font-size: inherit;
}

.card__button {
    font-size: 1.15rem;
    font-weight: 400;
    margin: 0 3rem;
    white-space: nowrap;

    @media (max-width: b.$mediaMobile) {
        font-size: 0.8rem;
        margin: 0 1.2rem;
    }
}

.card__descr {
    position: relative;
    font-size: calc(1rem * (24px / b.$basicFontSize));
    font-weight: 400;
    z-index: 1;
    padding: 0 3rem;

    @media (max-width: b.$mediaMobile) {
        font-size: calc(1rem * (18px / b.$basicFontSize));
        padding: 0 1.2rem;
    }
}

.card__descr--white,
.card__title--white {
    color: b.$lightTextColor;
}

.card__price {
    position: relative;
    font-size: calc(1rem * (38px / b.$basicFontSize));
    color: b.$lightTextColor;
    font-weight: 600;
    z-index: 1;

    @media (max-width: b.$mediaMobile) {
        font-size: calc(1rem * (24px / b.$basicFontSize));
    }
}

.card__buttons {
    @include b.flex(flex-start, center);
    gap: calc(1rem * (32px / b.$basicFontSize));
}

.card__buying {
    padding: 0 3rem;
    @include b.flex(space-between, center);
    width: 100%;

    @media (max-width: b.$mediaMobile) {
        padding: 0 1.2rem;
    }
}

.card__number {
    @include b.flex(flex-start, center);
    gap: clamp(0.5rem, 2.5vw, calc(1rem * (42px / b.$basicFontSize)));
    white-space: nowrap;

    @media (max-width: b.$mediaMobile) {
        gap: 1rem;
    }
}

.card__number-info {
    font-size: calc(1rem * (20px / b.$basicFontSize));
}

.card__number-next {
    font-size: calc(1rem * (15px / b.$basicFontSize));
}

.card__info {
    z-index: 1;
    @include b.flex(flex-start, flex-start, column);
    gap: calc(1rem * (42px / b.$basicFontSize));

    @media (max-width: b.$mediaMobile) {
        gap: calc(1rem * (24px / b.$basicFontSize));
    }
}

.slider__card {
    @include b.flex(flex-start, flex-start, row);
    width: 100%;
    max-width: unset;
    aspect-ratio: unset;
    margin-top: 5.15rem;
    min-height: 755px;
    padding: calc(1rem * (134px / b.$basicFontSize)) calc(1rem * (53px / b.$basicFontSize))
        calc(1rem * (134px / b.$basicFontSize)) min(808px, 50vw);
    margin-bottom: 0;

    @media (max-width: 1115px) {
        @include b.flex(flex-start, flex-start, column);
        gap: calc(1rem * (42px / b.$basicFontSize));
        padding: 0 calc(1rem * (42px / b.$basicFontSize)) calc(1rem * (84px / b.$basicFontSize))
            min(42px, 50vw);
    }

    @media (max-width: b.$mediaMobile) {
        min-height: auto;
        gap: calc(1rem * (24px / b.$basicFontSize));
        padding: 0 calc(1rem * (24px / b.$basicFontSize)) calc(1rem * (42px / b.$basicFontSize))
            min(24px, 50vw);
        margin-bottom: 0;
    }

    &::before {
        background: url('../../images/slider_bg.png') center / 100% 100% no-repeat;
        pointer-events: none;
        border-radius: 0;

        @media (max-width: b.$mediaMobile) {
            background: url('../../images/slider_bg-mobile.png') center / 100% 100% no-repeat;
        }
    }

    .card__img-wrapper {
        position: absolute;
        top: 0;
        left: 0;
        translate: unset;
        margin-top: -5.15rem;
        width: min(808px, 50vw);
        max-width: unset;

        @media (max-width: 1115px) {
            align-self: center;
            position: relative;
            margin-top: -5.15rem;
        }

        img {
            width: 100%;
        }
    }

    .card__title {
        white-space: wrap;
        padding: 0;
    }

    .card__button {
        margin: 0;
    }

    .slider-mini__left {
        visibility: visible;
        opacity: 0.35;
    }

    .card__descr-wrapper {
        @include b.flex(flex-start, flex-start, column);
        gap: calc(1rem * (42px / b.$basicFontSize));

        @media (max-width: b.$mediaMobile) {
            gap: calc(1rem * (24px / b.$basicFontSize));
        }
    }

    .card__descr {
        padding: 0;
    }

    .card__buying {
        padding: 0;

        @media (max-width: b.$mediaMobile) {
            margin-top: calc(1rem * (24px / b.$basicFontSize));
        }
    }
}

.best__card {
    .card__descr {
        padding: 0;
    }
}

.slider__bottom-buttons {
    @include b.flex(flex-start, center);
    gap: calc(1rem * (16px / b.$basicFontSize));
    margin: calc(1rem * (133px / b.$basicFontSize)) auto calc(1rem * (170px / b.$basicFontSize));
    width: max-content;

    @media (max-width: b.$mediaMobile) {
        gap: calc(1rem * (12px / b.$basicFontSize));
        margin: calc(1rem * (46px / b.$basicFontSize)) auto calc(1rem * (86px / b.$basicFontSize));
    }

    .bottom-button {
        width: calc(1rem * (11px / b.$basicFontSize));
        height: calc(1rem * (11px / b.$basicFontSize));

        @media (max-width: b.$mediaMobile) {
            width: calc(1rem * (6px / b.$basicFontSize));
            height: calc(1rem * (6px / b.$basicFontSize));
        }
    }

    .bottom-button--active {
        width: calc(1rem * (31px / b.$basicFontSize));

        @media (max-width: b.$mediaMobile) {
            width: calc(1rem * (22px / b.$basicFontSize));
        }
    }
}
