@use "../bootstrap" as b;

.nav {
    overflow-x: visible;
    display: block;
    transition: all b.$basicTransTime ease;

    @media (max-width: b.$mediaTablet) {
        background-color: rgba(0, 0, 0, 0.85);
        padding: 7rem b.$containerPadding b.$containerPadding;
        @include b.position(absolute, -1, top, left, 0, 0);
        visibility: hidden;
        opacity: 0;
        z-index: 5;
        width: 100%;
        height: 100%;
    }

    @media (max-width: b.$mediaMobile) {
        padding: 5.4rem b.$containerPadding;
    }
}

.nav--appear {
    visibility: visible;
    opacity: 1;
    left: 0;
    overflow: auto;
}

.nav__list {
    @include b.flex(space-between, center);
    gap: clamp(b.$mainGap, 3vw, 43px);

    @media (max-width: b.$mediaTablet) {
        @include b.flex(space-between, flex-start, column);
    }
}

.nav__item {
    transition: all b.$basicTransTime ease;

    &:hover,
    &:focus-visible {
        .nav__link {
            opacity: 1;

            @media (hover: none) {
                opacity: 0.75;
            }
        }
    }

    @media (max-width: b.$mediaTablet) {
        translate: -200% 0;
    }
}

.nav-item--appear {
    translate: 0 0;
}

.nav__link {
    font-size: calc(1rem * (24px / b.$basicFontSize));
    color: b.$lightTextColor;
    font-weight: 500;
    opacity: 0.75;
    white-space: nowrap;
    padding: 0 b.$linkPadding;
    transition: all b.$basicTransTime ease;
}

.nav__item-more {
    width: 12px;
    height: 7px;
    vertical-align: middle;
    transition: all b.$basicTransTime ease;

    @media (max-width: b.$mediaTablet) {
        margin-left: 4px;
    }
}

.nav__item--plus {
    position: relative;

    &:hover,
    &:focus-visible {
        .nav__item--plus-list {
            visibility: visible;
            opacity: 1;
        }

        .nav__item-more {
            transform: rotateZ(180deg) translateY(50%);

            @media (max-width: b.$mediaTablet) {
                transform: none;
            }
        }

        .nav__plus-active {
            @media (max-width: b.$mediaTablet) {
                transform: rotateZ(180deg) translateY(50%);
            }
        }

        .nav__link {
            cursor: pointer;
        }
    }

    @media (max-width: b.$mediaTablet) {
        height: 27px;
        overflow: hidden;
    }
}

.nav__plus-active {
    transform: rotateZ(180deg) translateY(50%);
}

.nav__item--plus-list {
    @include b.position(absolute, -1, top, left, auto, 0);
    width: 100%;
    visibility: hidden;
    opacity: 0;
    padding: calc(b.$linkPadding / 2) 0;
    transition: all b.$basicTransTime ease;

    @media (max-width: b.$mediaTablet) {
        padding: calc(b.$linkPadding / 2) 0 0;
        position: static;
        visibility: visible;
        opacity: 1;
    }
}

.nav__item--plus-item {
    &:hover,
    &:focus-visible {
        a {
            opacity: 1;

            @media (hover: none) {
                opacity: 0.75;
            }
        }
    }

    a {
        display: block;
        transition: all b.$basicTransTime ease;
        padding: b.$linkPadding;
        width: 100%;
        height: 100%;
        font-weight: 400;
        opacity: 0.75;
        font-size: calc(1rem * (18px / b.$basicFontSize));

        @media (max-width: b.$mediaTablet) {
            padding: b.$linkPadding calc(b.$linkPadding * 2);
        }
    }
}
