@use "../bootstrap" as b;
@use "../components/nav";
@use "../ui/logo";
@use "../ui/burger";

.header {
    padding: 2.37rem 0;

    @media (max-width: b.$mediaMobile) {
        padding: 1.2rem 0;
    }
}

.header__container {
    @include b.flex(space-between, center);
    gap: b.$mainGap;
}

.header__socials {
    @include b.flex(space-between, center);
    gap: clamp(b.$mainGap, 3vw, 59px);
    z-index: 9;

    a {
        display: block;
        line-height: 1;
    }
}

.header__social-img {
    width: 1.08rem;
    height: 1.08rem;
    vertical-align: middle;
    fill: #ffffff;
    opacity: 0.75;
    transition: all b.$basicTransTime ease;

    &:hover,
    &:focus-visible {
        opacity: 1;

        @media (hover: none) {
            opacity: 0.75;
        }
    }
}
