@use "../bootstrap" as b;
@use "../components/card";

.top {
    padding-top: calc(1rem * (143px / b.$basicFontSize));

    @media (max-width: b.$mediaMobile) {
        padding-top: calc(1rem * (120px / b.$basicFontSize));
    }
}

.top__title {
    margin-bottom: calc(1rem * (76px / b.$basicFontSize));

    @media (max-width: b.$mediaMobile) {
        margin-bottom: calc(1rem * (56px / b.$basicFontSize));
    }
}

.top__cards {
    @include b.flex(center, center, row, wrap);
    column-gap: calc(1rem * (41px / b.$basicFontSize));
}

.top__card {
    margin-top: calc(1rem * (110px / b.$basicFontSize));
    gap: calc(1rem * (30px / b.$basicFontSize));

    @media (max-width: b.$mediaMobile) {
        gap: calc(1rem * (16px / b.$basicFontSize));
    }

    .card__descr {
        margin-bottom: calc(1rem * (6px / b.$basicFontSize));
        opacity: b.$opacity;

        @media (max-width: b.$mediaMobile) {
            margin-bottom: calc(1rem * (12px / b.$basicFontSize));
        }
    }

    .card__price {
        opacity: b.$opacity;
    }
}
